In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from datetime import datetime, timedelta
import matplotlib.dates as mdates
import plotly.express as px

%matplotlib inline

In [2]:
derecho_calls = pd.read_csv('../Data/911_Phone Calls_Derecho.csv')
derecho_calls.head()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE

In [3]:
derecho_calls.tail()

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
1544,5/4/2020 0:18,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S
1545,5/4/2020 0:22,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE
1546,5/4/2020 0:25,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW
1547,5/4/2020 0:29,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E
1548,5/4/2020 0:29,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR

In [4]:
derecho_calls.info

<bound method DataFrame.info of      Seizure DateTime CallTypeId  ALI Latitude  ALI Longitude  \
0      5/3/2020 16:30  911 Calls     36.247802     -86.716847
1      5/3/2020 16:30  911 Calls     36.143108     -86.800621
2      5/3/2020 16:30  911 Calls     36.100516     -87.056329
3      5/3/2020 16:30  911 Calls     36.130021     -86.927819
4      5/3/2020 16:31  911 Calls     36.142380     -86.881882
...               ...        ...           ...            ...
1544    5/4/2020 0:18  911 Calls     36.131694     -86.770535
1545    5/4/2020 0:22  911 Calls     36.042237     -86.743455
1546    5/4/2020 0:25  911 Calls     36.077664     -86.655607
1547    5/4/2020 0:29  911 Calls     36.024706     -86.743562
1548    5/4/2020 0:29  911 Calls           NaN            NaN

                       Cell Tower Address
0                         WIRELESS CALLER
1                     1161 21ST AV S - SE
2                   8013 C MCCRORY LN - N
3                      5758 RIVER RD - SW
4                    3744B ANNEX AVE - SE
...                                   ...
1544         1823-C 12TH AV - SECTOR SE S
1545     5244-C EDMONSON PIKE - SECTOR SE
1546  2747-B MURFREESBORO PKE - SECTOR NW
1547               302 SUMMIT VIEW DR - E
1548                2014 QUAIL HOLLOW CIR

[1549 rows x 5 columns]>

In [5]:
derecho_calls.dtypes

Seizure DateTime       object
CallTypeId             object
ALI Latitude          float64
ALI Longitude         float64
Cell Tower Address     object
dtype: object

In [6]:
derecho_calls = derecho_calls.rename(columns={'Seizure DateTime':'Call_Time'})
derecho_calls

,Call_Time,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE
...,...,...,...,...,...
1544,5/4/2020 0:18,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S
1545,5/4/2020 0:22,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE
1546,5/4/2020 0:25,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW
1547,5/4/2020 0:29,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E
1548,5/4/2020 0:29,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR

In [7]:
derecho_calls['Call_Time'] = pd.to_datetime(derecho_calls['Call_Time'])

In [8]:
derecho_calls['elapsed'] = derecho_calls['Call_Time'] - derecho_calls['Call_Time'].min()

In [9]:
derecho_calls.isnull().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549 entries, 0 to 1548
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Call_Time           1549 non-null   bool
 1   CallTypeId          1549 non-null   bool
 2   ALI Latitude        1549 non-null   bool
 3   ALI Longitude       1549 non-null   bool
 4   Cell Tower Address  1549 non-null   bool
 5   elapsed             1549 non-null   bool
dtypes: bool(6)
memory usage: 9.2 KB

In [10]:
derecho_calls.elapsed

0      0 days 00:00:00
1      0 days 00:00:00
2      0 days 00:00:00
3      0 days 00:00:00
4      0 days 00:01:00
             ...
1544   0 days 07:48:00
1545   0 days 07:52:00
1546   0 days 07:55:00
1547   0 days 07:59:00
1548   0 days 07:59:00
Name: elapsed, Length: 1549, dtype: timedelta64[ns]

In [11]:
derecho_calls.shape

(1549, 6)

In [12]:
derecho_calls.columns

Index(['Call_Time', 'CallTypeId', 'ALI Latitude', 'ALI Longitude',
       'Cell Tower Address', 'elapsed'],
      dtype='object')

In [13]:
derecho_calls = derecho_calls.rename(columns={'elapsed':'Emergency_Calls'})
derecho_calls

,Call_Time,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address,Emergency_Calls
0,2020-05-03 16:30:00,911 Calls,36.247802,-86.716847,WIRELESS CALLER,0 days 00:00:00
1,2020-05-03 16:30:00,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE,0 days 00:00:00
2,2020-05-03 16:30:00,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N,0 days 00:00:00
3,2020-05-03 16:30:00,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW,0 days 00:00:00
4,2020-05-03 16:31:00,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE,0 days 00:01:00
...,...,...,...,...,...,...
1544,2020-05-04 00:18:00,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S,0 days 07:48:00
1545,2020-05-04 00:22:00,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE,0 days 07:52:00
1546,2020-05-04 00:25:00,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW,0 days 07:55:00
1547,2020-05-04 00:29:00,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E,0 days 07:59:00
1548,2020-05-04 00:29:00,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR,0 days 07:59:00

In [14]:
derecho_grouper_1h = derecho_calls.groupby(by=[pd.Grouper(key = 'Call_Time', freq='1h'), "Emergency_Calls"]).count().reset_index()
derecho_grouper_1h

,Call_Time,Emergency_Calls,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,2020-05-03 16:00:00,0 days 00:00:00,4,4,4,4
1,2020-05-03 16:00:00,0 days 00:01:00,3,3,3,3
2,2020-05-03 16:00:00,0 days 00:02:00,5,5,5,5
3,2020-05-03 16:00:00,0 days 00:03:00,4,4,4,4
4,2020-05-03 16:00:00,0 days 00:04:00,5,5,5,5
...,...,...,...,...,...,...
411,2020-05-04 00:00:00,0 days 07:46:00,2,2,2,2
412,2020-05-04 00:00:00,0 days 07:48:00,1,1,1,1
413,2020-05-04 00:00:00,0 days 07:52:00,1,1,1,1
414,2020-05-04 00:00:00,0 days 07:55:00,1,1,1,1
415,2020-05-04 00:00:00,0 days 07:59:00,2,1,1,2